<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1 class="m-4 text-center">Dashboard</h1>
<div class="col-8 offset-2 justify-content-center">
    <div class="row">
        <div class="col-6">
            <canvas style="max-height: 400px;" id="confidenceChart"></canvas>
        </div>
        <div class="col-6">
            <canvas style="max-height: 400px;" id="completionChart"></canvas>
        </div>
    </div>
    <% @reportcards.uniq(&:material_confidece).each do |material_confidece| %>
        <div class="text-center m-3" style="position: relative;">
            <% case material_confidece.material_confidece  %>
            <% when 0 %>
                <i style="font-size: 60px; position: relative; top: 30px;" class="fa-solid fa-face-frown translate-middle"></i>
            <% when 25 %>
                <i style="font-size: 60px; position: relative; top: 30px;" class="fa-solid fa-face-grimace translate-middle"></i>
            <% when 75 %>
                <i style="font-size: 60px; position: relative; top: 30px;" class="fa-solid fa-face-grin-beam-sweat translate-middle"></i>
            <% when 100 %>
                <i style="font-size: 60px; position: relative; top: 30px;" class="fa-solid fa-face-grin-beam translate-middle"></i>
            <% end %>
        </div>


    <% @reportcards.each do |obj| %>
        <% if obj.material_confidece == material_confidece.material_confidece %> 
            <% material_id = obj.material_id  %>
                <div class="card-material">
                    <div class="container-fluid">
                    <div class="card-material-infos">
                        <% material = @materials.find(material_id) %>
                        <p> <%= material.category %> </p>
                        <h3> <%= material.content.html_safe %> </h3>
                    </div>
                    </div>
                </div>
            <% end  %>
        <% end %>
    <% end%>

    <script>
    let confidenceCtx = document.getElementById('confidenceChart').getContext('2d');
    let confidenceChart = new Chart(confidenceCtx, {
        type: 'pie',
        data: {
            labels: ['Very Confident', 'Somewhat Confident', 'Little Confident', 'Not Confident'],
            datasets: [{
                data: [ <%= @veryConfident %> , <%= @somewhatConfident %>, <%= @littleConfident %>, <%= @notConfident %>],
                backgroundColor: [
                    '#CF1B2A',
                    '#EE7D01',
                    '#999999',
                    '#E78195'
                ],
                borderColor: [
                    '#EDEDED'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });

    let completionCtx = document.getElementById('completionChart').getContext('2d');
    let completionChart = new Chart(completionCtx, {
        type: 'pie',
        data: {
            labels: ['Reviewed', 'Not Reviewed'],
            datasets: [{
                data: [ <%= @reviewedMaterial %> , <%= @notReviewedMaterial %> ],
                backgroundColor: [
                    '#DE1E23',
                    '#F27100'
                ],
                borderColor: [
                    '#EDEDED'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });
    </script>
</div>