<div class="container">
<%= render "shared/progressbar", correct: @correctFlash, total: @totalFlash, ratio: @ratioFl %>
    <div class="flashcard-container">
        <div class="flashcard-game-card-header">
            <div class="flashcard-game-card-title">
                <h4><%=@flashcard.category %></h4>
            </div>
        </div>
        <div class="flashcard-game-card-content" data-dashlane-rid="514e638eb34943d8" data-form-type="">
          <div class="flashcard-game-card-content-markdown">
            <p><%= @flashcard.question.html_safe %></p>

          </div>
          <textarea data-flashcards-animation-target="userGuess" class="form-control" id="user-guess-text-area" autofocus="" rows="4" placeholder="Enter your answer here (alt + enter to flip card)" data-dashlane-rid="c7af76ab7914eb53" data-form-type=""></textarea>
          <button class="btn btn-info flip-button" data-action="click->flashcards-animation#flipCard" data-dashlane-label="true" data-dashlane-rid="47ebc8d074639084" data-form-type="">
            <i class="fa-solid fa-arrows-rotate"></i> flip card
          </button>
        </div>
    </div>
</div>


<div class="mt-5 row justify-content-center" >
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
            <h1><%= @flashcard.question.html_safe %></h1>
            </div>
            <div class="flip-card-back">
            <h1><%= @flashcard.answer.html_safe %></h1>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <%= simple_form_for(@freport) do |f| %>
        <%= f.hidden_field :is_known, value: true %>
        <%= f.hidden_field :flashcards_id, value: @flashcard.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= button_tag "Ich Wusste es!", type: 'submit', class: "button btn-success", remote: true %>
    <% end %>
    <%= simple_form_for(@freport) do |f| %>
        <%= f.hidden_field :is_known, value: false %>
        <%= f.hidden_field :flashcards_id, value: @flashcard.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= button_tag "Ich Wusste NICHT!", type: 'submit', class: "button btn-danger", remote: true %>
    <% end %>
</div>