<div class="container">
    <%= render "shared/progressbar", correct: @correctFlash, total: @totalFlash, ratio: @ratioFl %>
    <div class="mt-5 d-flex justify-content-end">
        <div>
            <button id="flipButton" class="text-right btn btn-info">
                <i class="fa-solid fa-arrows-rotate"></i>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="flip-card" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="flashcard-container">
                        <div class="flashcard-game-card-header">
                            <div class="flashcard-game-card-title">
                                <h4><%=@flashcard.category %></h4>
                            </div>
                        </div>
                        <div class="flashcard-game-card-content">
                            <div class="flashcard-game-card-content-markdown">
                                <p><%= @flashcard.question.html_safe %></p>
                            </div>
                            <textarea class="form-control" id="user-guess-text-area" rows="4" placeholder="Schreibe deine Antwort hier (Ctrl + Enter)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="flashcard-container">
                        <div class="flashcard-game-card-header">
                            <div class="flashcard-game-card-title">
                                <h4><%=@flashcard.category %></h4>
                            </div>
                        </div>
                        <div class="flashcard-game-card-content">
                            <div class="flashcard-game-card-content-markdown">
                                <p><%=  @flashcard.answer.html_safe %></p>
                            </div>
                            <p></p>
                            <p id="guessDestination"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4 container">
    <div id="buttonsDiv" class="mt-5 d-flex justify-content-center buttonsDiv">
        <%= simple_form_for(@freport) do |f| %>
            <%= f.hidden_field :is_known, value: true %>
            <%= f.hidden_field :flashcards_id, value: @flashcard.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= button_tag "Ich Wusste es!", type: 'submit', class: "button btn-success", remote: true %>
        <% end %>
        <%= simple_form_for(@freport) do |f| %>
            <%= f.hidden_field :is_known, value: false %>
            <%= f.hidden_field :flashcards_id, value: @flashcard.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= button_tag "Ich Wusste NICHT!", type: 'submit', class: "button btn-danger", remote: true %>
        <% end %>
    </div>
</div>
<script>
    let flipButton = document.getElementById("flipButton");
    let textField = document.getElementById("user-guess-text-area")
    let card = document.getElementById("flip-card");

    flipButton.addEventListener('click', function (event) {
        banana()
    });


    document.addEventListener('keydown', (e) => {
        // if (event.key === "Enter") {
        //     event.preventDefault()
        // }

        if(event.ctrlKey && event.key =='Enter'){
            banana()
        }
    });

    function banana() {
        let userGuess = textField.value
        card.classList.toggle("flipped-css");
        document.getElementById("guessDestination").innerHTML = "Deine Antwort: " + userGuess;
        document.getElementById("buttonsDiv").classList.toggle("buttonsFadeDiv");
        document.getElementById("buttonsDiv").classList.toggle("buttonsDiv");
    }
</script>
